@charset "UTF-8";

/* 固定メニューのスタイル */
.sidebar {
    position: fixed;   /* 常に固定 */
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar h2 {
    font-size: 18px;
    margin-bottom: 15px;
}

/* メニュー内ボタンのスタイル */
.sidebar form {
    margin: 0;
}

.sidebar input[type="submit"] {
    display: block;
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border: none;
    background: #007BFF;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar input[type="submit"]:hover {
    background: #0056b3;
}

.title{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-right: 300px;
}

body{
	 background-image: url(/images/BGImage.jpg);
	 margin-left: 300px;
}

.data-field{
	margin-left: 200px;
}

.text-field1{
	margin-left: 50px;
	padding-right: 30px;
}

.text-field2{
	margin-left: 53px;
	padding-right: 30px;
}

.text-field3{
	margin-left: 69px;
	padding-right: 30px;
}

.toTopPage{
	display: block;
    width: 15%;
    margin: 8px 0;
    padding: 10px;
    border: none;
    background: #007BFF;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 30px;
}

.toUpdateConpletion{
	display: block;
    width: 15%;
    margin: 8px 0;
    padding: 10px;
    border: none;
    background: #007BFF;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 150px;
    margin-top: -48px;
}