<!DOCTYPE html>	
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
	<head>
		<meta charset="UTF-8">
		<title>ログインアカウント変更完了画面</title>
		<link rel="stylesheet" th:href="@{../css/loginAccountEdit/loginAccountEditCompletion.css}">
	</head>
	<body>
		<!-- 左側固定メニュー -->
	    <div class="sidebar">
	        <h2>メニュー</h2>
	        <!-- GET送信（画面遷移用） -->
	        <form method="get" action="/registerDataShow">
	            <input type="submit" value="登録データ表示"/>
	        </form>
	        <form method="get" action="/passKeyEdit">
	            <input type="submit" value="パスキー変更"/>
	        </form>
	        <form method="get" action="/siteMap	">
	            <input type="submit" value="サイトマップ"/>
	        </form>
	        <form method="post" action="/logout">
	            <input type="submit" value="ログアウト"/>
	        </form>
	    </div>
	    
		<h1 class="title">ログインアカウント変更完了</h1>
		
		<form th:action="@{/topPage}" method="post">
			<div class="newPasswordShow">
				<label>新パスワード</label>
				<span th:text="${password}">パスワード</span><br>
			</div>
			
			<input type="submit" value="トップページに戻る" class="toTopPage"/>
		</form>
	</body>
</html>