<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>ログインアカウント編集画面</title>
		<script type="text/javascript" th:src="@{../js/PasswordManager.js}"></script>
	</head>
	<body>
		<h1>ログインアカウント編集</h1>
		
		<form th:action="@{/loginAccountEditCompletion}" method="post" th:object="${userInfoEditEntity}" id="form1">
			<label>ユーザーID</label>
			<span th:text="*{userId}"></span><br>
			<label>パスワード</label>
			<input type="text" th:field="*{passWd}" th:value="*{passWd}" maxlength="30" onload="passWd"/><br>
			
			<label>パスワード（確認）</label>
			<input type="text" th:field="*{re_PassWd}" maxlength="30"/><br>
			
			<input type="submit" value="ログインアカウント情報編集完了画面へ" onclick="confirmLogic();"/>
			<input type="submit" value="トップページへ" formaction="/topPage"/>
		</form>
	</body>
</html>