<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>パスワード再設定確認</title>
		<link rel="stylesheet" th:href="@{../css/customer/passwordReConfigureConfirm.css}">
	</head>
	<body>
		<h1 class="title">パスワード再設定確認</h1>
		
		<form th:action="passwordReConfigureCompletion" method="get" th:object="${userInfoEditEntity}">
			<span th:text="*{passWd}" class="input_new_password"></span><br>
			<input type="submit" value="パスワード再設定画面へ" formaction="/passwordReConfigure" class="toReConfigPassword"/>
			<input type="submit" value="完了画面へ" class="toCompletion"/>
		</form>
	</body>
</html>