<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>ユーザー登録</title>
	</head>
	<body>
		<h1>ユーザー登録</h1>
		
		<div th:if="${errorMsg}">
			<div th:text="${errorMsg}"></div>
		</div>
		
		<form th:action="@{/passKeyGet}" method="post" th:object="${userInfoEntity}">
			<label>ユーザーID</label>
			<input type="text" th:field="*{userId}" maxlength="30"><br>
			
			<label>パスワード</label>
			<input type="password" th:field="*{passWd}" maxlength="30"><br>
			
			<label>パスワード（確認）</label>
			<input type="password" th:field="*{re_PassWd}" maxlength="30"><br>
			
			<input type="submit" value="パスキー取得画面へ"/>
			<input type="submit" value="戻る" formaction="/login" formmethod="get"/>
		</form>
	</body>
</html>