@charset "UTF-8";

.title{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}

.explanation{
	text-align: center;
}

body{
	 background-image: url(/images/BGImage.jpg);
	 background-repeat: repeat;
     background-size: cover; /* 画面全体にフィット */
     background-position: center;
     width: 1000px;
     height: 500px;
     margin-left: 100px;
}

.label{
	font-size: 15px;
	font-weight: bold;
	padding-left: 350px;
}

.textbox{
	margin-left: 60px;
}

.submitConfirm{
	display: block;
    width: 30%;
    margin: 8px 0;
    padding: 10px;
    border: none;
    background: #007BFF;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 350px;
}